* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 16px;
}

#beheader {
    display: flex;
    justify-content: space-between;
    background-color: cyan;
}

h1 {
font-size: 4vw;
padding: 20px 30px 10px 30px;
}

h2 {
    font-size: 2.5vw;
    padding: 32px 20px 20px 20px;
}

h2:hover {
    color: Yellow;
    transform: skewx(6deg)
}
#clock {
    background-color: orangered;
}

#clock:hover {
    background-color: black;
}

p {
    font-size: 6.5vw;
    padding: 10px 30px 10px 30px;
}

p:hover{
    color: orangered;
    text-decoration: underline;
}

#quizTV {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

#quizint {
    margin: 0px 40px 0px 40px;
    background-color: whitesmoke;
    border-radius: 10px;
}

pre {
    font-size: 3.5vw;
    padding: 25px;
    display: inherit;
    text-align: center;
    white-space: normal;
}

.button-box {
    margin: 50px;    
    justify-content: center;
}

.button {
    display: block;
    font-size: 5vw;
    appearance: none;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.button:hover {
    background-color: white;
}

.button:focus {
    outline: none;
}

#start:active {
    background-color: lawngreen;
}

